/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-weight: 200;
    position: relative;
    overflow: hidden;
}

.header-left, .header-right {
    color: #000000;
    position: relative;
    white-space: nowrap;
}

.header-left {
    animation: moveRight 10s linear infinite;
}

.header-right {
    animation: moveRight 10s linear infinite;
}


@keyframes moveRight {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}

/* Navbar Styles */
nav {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FF6600;
}

/* Main Section Styles */
main {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 80px;
    font-weight: 900;
}

.image-placeholder {
    width: 200px;
    height: 170px;
    background-color: #FF6600;
    margin: 10px auto;
}

.image-placeholder img {
    width: 130px;
    height: auto;
}

p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 100;
}

/* Footer Styles */
footer {
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #000000;
    padding-top: 10px;
    width: 100%;
}

footer p {
    margin: 0;
    color: #000000;
}

footer p:hover {
    color: #FF6600;
}
/* General table styles */
table.work-experience {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 20px;
    text-align: left;
}

table.work-experience thead {
    color: #FFFFFF;
}

table.work-experience th, table.work-experience td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    vertical-align: top;
}

/* Limit the description column width */
table.work-experience td:nth-child(2) {
    max-width: 600px; /* Adjust the maximum width */
    word-wrap: break-word; /* Break long text */
}

table.work-experience ul {
    margin: 0;
    padding-left: 20px;
}

table.work-experience tbody tr:hover {
    background-color: #f1f1f1; /* Highlight on hover */
}

table.work-experience th {
    color: #FF6600;
    font-weight: bold;
}
